HOST=0.0.0.0
PORT=8080
TIMEOUT=0
REVERSE_PROXY=false
PROXY_DOCUMENTS=true
PROXY_IMAGES=true
PROXY_MEDIA=true
PROXY_FILES=true
IMG_PROCESS=true
IMG_OPTIMIZE_BY_DEFAULT=true
SWAGGER=false
SEARCH_BY_DEFAULT=false
SEARX_URL=
