.form-search {
  display: flex;
  flex: 1 1 18rem;
  gap: 0.5rem;
  margin-left: auto;
}

.form-search .input:first-child {
  flex: 1;
}

.form-search .image-option {
  flex: 0 0 auto;
}

@media (max-width: 42rem) {
  .form-search {
    flex-basis: 100%;
    margin-left: 0;
  }

  .form-search .image-option {
    flex-basis: 100%;
  }
}
