<!doctype html>
<html lang="{{ parsed.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow" />
    <title>{{ parsed.title }}</title>
    <link rel="stylesheet" href="/static/common.css" />
    <link rel="stylesheet" href="/static/get.css" />
    {% if highlight_code %}
      <link rel="stylesheet" href="/static/third-party/styles/atom-one-light.min.css" />
      <link rel="stylesheet" href="/static/third-party/styles/atom-one-dark.min.css" media="screen and (prefers-color-scheme: dark)" />
      <script src="/static/third-party/scripts/highlight.min.js"></script>
    {% endif %}
    {% include "components/search-styles.tera" %}
  </head>
  <body>
    <main>
      {% include "components/menu.tera" %}
      <p class="title">{{ parsed.title }}</p>
      {{ parsed.content | safe }}
      {% if highlight_code %}
        <script>hljs.highlightAll();</script>
      {% endif %}
    </main>
  </body>
</html>
